aiohttp
asyncio
autopep8
cartopy
contextily
dependency_injector
descartes
earthpy
folium
geocoder
geojson
geopandas
geopy~=2.2.0
gpxpy~=1.5.0
haversine~=2.7.0
hydrofunctions
ipython
jupyterlab
jupyter_contrib_nbextensions
kiwisolver
mapboxgl
matplotcheck
matplotlib~=3.6.0
nbclean
nbgrader
nbresuse
nc-time-axis
netcdf4
nltk
notebook
numpy
opencv-python-headless
pandas~=1.4.4
papermill
plotly~=5.10.0
pyproj
pysal
rasterstats
rdp
rembg
regionmask
requests
rioxarray
scipy
seaborn
sklearn
textblob
tqdm
tweepy
vincenty
visvalingamwyatt
xarray
